android-src/KV4PHT/app/debug/*
android-src/KV4PHT/app/release/*
android-src/KV4PHT/usbSerialForAndroid/build/*
build/
backups/
~*
*.lck
*.swp
.idea

# Xcode
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
